
body {
    font-family:"BIZ UDGothic";
    background-color: #E1F5FE;
    color: #202020;
}

button {
    background-color: #F9C671;;
    color: #222;
    border: 1px solid #222;
}
input {
    background-color: #F9C671;;
    color: #222;
    border: 1px solid #222;
    padding: 0 4px;
}
select {
    background-color: #F9C671;;
    color: #222;
    border: 1px solid #222;
}
th{
    background-color: #F9C671;
    color: #202020;
}
td {
    background-color: #E1F5FE;
    color: #202020;
}
ul {    
    background-color: #E1F5FE;
    color: #202020;
}

table {
    border-collapse: collapse;
}

table tr{
    border-bottom: solid 2px #E1F5FE;
}

table tr:last-child{
    border-bottom: none;
}
table select {
    background-color: #E1F5FE;
    color: #222;
    height: 32px;
    width: 90%;
}

table th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
}




.main_frame{
    text-align: center;

    .dialog {
	background-color: #E1F5FE;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	color: #202020;
	z-index: 100;
	
	.close {
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 48px;
	    height: 32px;
	}

	

    }
    .filedialog{
	text-align: center;
	padding-top : 12px;
	padding-bottom: 24px;
	video {
	    border: 1px solid #a0a0a0;
	    display: inline-block;
	    text-align: center;
	    width: 80%;
	    height: auto;
	    padding: 8px;
	}
	.image_frame{
	    display: inline-block;
	    text-align: center;
	    width: 80%;
	    height: auto;
	    padding: 8px;
	    
	    img{
		width: 100%;
		height: auto;
		
	    }
	}
	table {
	    width: 90%;
	    margin-left: 5%;
	}

	
	table button{
	    padding: 8px;
	    width: 120px;
	}

	.buttons {
	    button{
		width: 40%;
		margin: 12px 5%;
		height: 48px;
	    }
	}
    }

    .albumdialog {
	z-index: 150;
	input.album_name {
	    max-width: 400px;
	    width: 90%;
	    height: 48px;
	    line-height:48px;
	}
	ul {
	    margin: 12px;
	    display: inline-block;
	    width: 90%;
	    max-width: 400px;
	    border: 1px solid #202020;
	    max-height: 400px;
	    min-height: 32px;
	    overflow: auto;
	}
	li{
	    cursor: pointer;
	    height: 48px;
	    line-height:48px;
	}
	li:hover{
	    background-color: #29B1FF;
	}
	.buttons {
	    button{
		margin: 10px;
		height: 42px;
		max-width: 180px;
		width: 40%;
	    }
	}
    }
    
    .header{
	z-index: 10;
	background-color: #29B1FF;
	color: #eee;
	opacity: 0.95;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	text-align: center;
	padding: 24px;
	overflow: auto;

	.frame {
	    display: inline-block;
	}
	
	.left_frame {
	    vertical-align:top;
	    min-width: 300px;
	    display: inline-block;
	}
	
	.title{
	    font-size: 16pt;
	    text-align: center;
	    margin: 4px;
	}

	.size_buttons {
	    margin: 4px;
	    text-align: center;
	    button {
		width: 33%;
		max-width: 133px;
		background-color: #303030;
		color: #ffffff;
	    }
	    .selected{
		background-color: #f0f0f0;
		color: #202020;
	    }
	}

	.search_text {
	    margin: 18px;
	    width: 100%;
	    max-width: 400px;
	}

	.album {
	    margin: 4px;
	    text-align: center;
	    button{
		margin-top: 4px;
		width: 100%;
		max-width: 400px;
		height: 32px;
		font-size: 16pt;
	    }
	}

	.upload {
	    margin: 18px;
	    text-align: center;
	    position : fixed;
	    right: 0;
	    bottom :0;
	    width: 64px;
	    height: 64px;
	    border-radius: 32px;
	    
	    button {
		vertical-align: middle;
		text-align: center;
		width: 100%;
		max-width: 400px;
		height: 64px;
		border-radius: 32px;

		font-size: 24pt;

		span {
		    vertical-align: middle;
		    margin: 8px;
		}
		img {
		    vertical-align: middle;
		    display: inline;
		    height: 48px;
		}
	    }
	    
	}
    }

    .file_list {
	margin-top: 400px;
	margin-bottom: 40px;

	.file:hover{
	    border: 2px solid #29B1FF;
	}
	
	.file {
	    background-color: #222;
	    display: inline-block;
	    overflow: hidden;
	    position: relative;
	    border: 2px solid #aaa;
	    
	    .icon{
		
	    }
	    
	    img {
		/*width: auto;*/
		/*height: 100%;*/
	    }

	    img.expires {
		opacity: 0.9;
		width: 32px;
		height: 32px;
		padding: 8px;
		border-radius: 16px;
		background-color: #fff;
		position: absolute;
		right: 8px;
		bottom: 8px;
	    }
	    img.movie {
		opacity: 0.9;
		width: 48px;
		height: 48px;
		padding: 8px;
		border-radius: 24px;
		background-color: #fff;
		position: absolute;
		left: calc(50% - 24px);
		top: calc(50% - 24px);
	    }
	    .file_name {
		opacity: 0.8;
		background-color: #ffffff;
		line-height: 48px;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 48px;
		text-align: center;
	    }
	}
    }

    .loading_frame{
	text-align: center;
	margin-top : 200px;
	#loading {
	    animation:3s linear infinite rotation1;
	    display: inline;
	}
    }
    @keyframes rotation1{
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg); }
    }

    .uploading{
	background-color: #fff;
	opacity: 0.9;
	position: fixed;
	bottom: 0;
	left:0;
	right: 0;
	height: 48px;
	padding: 12px;


	.bar{
	    position: absolute;
	    left: 0;
	    top: 0;
	    background-color: #a0d0ff;
	}
	.text {
	    padding: 12px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	}
    }

    .user {
	z-index: 12;
	position: fixed;
	right: 0;
	top: 0;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-color: #F9C671;
	border: 2px solid #303030;
	text-align: center;
	cursor: pointer;
	color: #222;
	
	img {
	    display: inline;
	    width: 32px;
	    height: 32px;
	}
	span{
	    display: block;
	    margin-top: -10px;
	}
    }

    .user_dialog {
	
	button {
	    width: 40%;
	    max-width: 180px;
	    margin: 10px;
	    height: 48px;
	}
	input {
	    height: 48px;
	    line-height:48px;
	    width: 90%;
	    max-width: 400px;
	    margin: 10px;
	}

	select {
	    height: 48px;
	    line-height:48px;
	    width: 90%;
	    max-width: 400px;
	    margin: 10px;
	}

    }

    .extend_tools {
	vertical-align:top;
	display: inline-block;

	input {
	    margin: 4px;
	    width: 396px;
	    height: 26px;
	    border: 1px solid #222;
	}
	select {
	    margin: 4px;
	    width: 140px;
	    height: 32px;
	    border: 1px solid #222;
	}
	button {
	    margin: 4px;
	    width: 120px;
	    height: 32px;
	    border: 1px solid #222;
	}
	
    }

    .server_status {
	.table-container{
	    display: inline-block;
	    width: 90%;
	    max-width: 400px;
	}
	table {
	    width: 100%;
	}
	button {
	    width: 90%;
	    max-width: 400px;
	}
    }
    
    @media (max-width: 600px){
	.user {
	    width: 48px;
	    height: 48px;
	    border-radius: 24px;
	    font-size: 10pt;
	    
	    img {
		height: 24px;
		width: 24px;
	    }
	    span{
		margin-top: -8px;
	    }
	}
	
    }
}
